<Configuration status ="WARN" strict="true">
	<Appenders>
		<Appender Type="Console" name="STDOUT">
			<Layout type="PatternLayout"
			pattern="%d{HH:mm:ss.SSS} [%t]%=5level %logger{36} =%msg%n"/>
			
		</Appender>

			<Appender Type="File" name="file" filename="C:\Users\RINKI\eclipse-workspace\SeleniumClass\logs">
			<Layout type="PatternLayout"
			pattern="%d{HH:mm:ss.SSS} [%t]%=5level %logger{36} =%msg%n"/>
			
				</Appender>
	</Appenders>
	<Loggers>
		<Root level="All">
			<AppenderRef ref="file" />
			</Root>
		</Loggers>
</Configuration>
